.contact_us_banner {
    width: 1600px;
    max-width: 100%;
    height: auto;
    margin: 70px auto 0 auto;

    text-align: center;
}

.contact_us_banner img {
    width: 100%;
    object-fit: contain;
}



.contact_us_content {
    width: 1240px;
    max-width: 100%;
    padding: 50px 20px;
    margin: 0 auto;
}


.contact_us_content p {
    font-size: 20px;
    margin: 15px 0;
    max-width: 100%;

    text-align: left;

    color: #222222;
}



@media screen and (max-width: 500px) {

    .contact_us_content {
        padding: 30px 20px;
    }

    .contact_us_content p {
        font-size: 14px;
    }
}