.Ultimate_Guide_contaienr {
    width: 1240px;
    padding: 0px 20px;
    max-width: 100%;
    margin: 120px auto 60px auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Ultimate_Guide_image {
    width: 48%;
    height: calc(100vh - 400px);
    max-height: 450px;
    min-height: 400px;
    border-radius: 10px;
    overflow: hidden;

    background-image: url('https://i.postimg.cc/hP04LHrB/course-first-section.png');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}

.Ultimate_Guide_play_button {
    position: absolute;
    bottom: 15px;
    left: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    background: #FFF;

    width: 160px;
    height: 40px;

    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    line-height: 24px;
}

.Ultimate_Guide_image video {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: calc(100vh - 400px);
    max-height: 450px;
    min-height: 400px;
    background-color: #FFF4F7;

    display: none;
}

.Ultimate_Guide_play_button:hover {
    font-weight: 600;
}

.Ultimate_Guide_play_button svg {
    margin: 0 10px 0 0;
}

#Ultimate_Guide_image {
    display: none;
}

.Ultimate_Guide_image img {
    width: 80%;
    margin: 0 auto;
}


.Ultimate_Guide_Details {
    width: 48%;
}

.Ultimate_Guide_heading {
    font-family: bebas;
    font-size: 45px;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0 0 20px 0;
    color: rgba(0, 0, 0, 0.87);
}

.Ultimate_Guide_byline {
    font-size: 16px;
    margin: 0 auto;
    max-width: 100%;

    text-align: center;

    color: #222222;
}

.Ultimate_Guide_buttons {
    width: 100%;
    margin: 20px 0 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Ultimate_Guide_buttons a {
    width: max-content;
    padding: 10px 50px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.enroll_button {
    color: rgba(255, 255, 255, 0.87);

    background: #E32652;
    border-radius: 5px;
}

.sneak_button {
    color: black;

    background: white;
    border: 1px solid #E32652;
    border-radius: 5px;
}


.client_name_box {
    width: 100%;
    padding: 5px 0 20px 0;
    text-align: center;
}



.design_line {
    width: 24px;
    margin: 0 auto;
    height: 4px;

    background: #E32652;
}

.Clients_name {
    padding: 20px 0 0 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: rgba(36, 34, 34, 0.87);
}

.Ready_text {
    margin: 15px 0 0 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;

    color: rgba(0, 0, 0, 0.87);
}












.eight_points_grid {
    width: 1240px;
    max-width: 100%;
    margin: 0 auto;
    padding: 60px 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 50px;
    column-gap: 30px;
}

.point_box {
    width: 100%;
    text-align: center;
}

.poit_box_image {
    width: 64px;
    height: 64px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.point_box img {
    width: 64px;
}

.poit_box_heading {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    margin: 10px 0;
    color: rgba(36, 34, 34, 0.87);
}

.poit_box_byline {

    font-size: 15px;
    color: #222222;
}














.disclaimer_container {

    width: 1240px;
    max-width: 100%;
    padding: 60px 20px;
    margin: 0px auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.disclaimer_image {
    width: 40%;
    border-radius: 10px;
    text-align: center;
}

.disclaimer_image img {
    width: max-content
}

.disclaimer_content {
    width: 57%;
}

.disclaimer_content_heading {
    width: 100%;
    font-family: bebas;
    letter-spacing: 2px;
    color: rgba(0, 0, 0, 0.87);

    font-size: 45px;
    letter-spacing: 0.03em;
}

.disclaimer_content_para {
    font-size: 16px;
    padding: 30px 0;
    text-align: justify;
    color: #222222;

}

.disclaimer_content_button {

    width: 100%;
    display: flex;
    flex-direction: column;
}

.disclaimer_content_button span {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;

    color: rgba(0, 0, 0, 0.87);
}

.disclaimer_content_button a {
    width: max-content;
    margin: 30px 0 0 0;
    color: rgba(255, 255, 255, 0.87);
    padding: 10px 50px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    background: #E32652;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}








.structured_cariculum_wrapper {
    width: 1240px;
    max-width: 100%;
    padding: 60px 20px;
    margin: 0px auto;
}

.structured_cariculum_heading {
    width: 100%;
    font-family: bebas;
    font-size: 45px;
    text-align: center;
    margin: 0 0 30px 0;
    letter-spacing: 2px;
    color: rgba(0, 0, 0, 0.87);
}

.cariculam_grid {
    width: 100%;
}

.mobilecariculam_grid {
    display: none;

    text-align: center;
}

.cariculam_box_grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 35px;
}

.cariculum_box {
    width: 100%;
}

.cariculum_box_image {
    width: 100%;
    height: 130px;
}


.cariculum_box_detail {
    width: 100%;
    height: 60px;
    background-color: white;
    margin: -6px 0 0 0;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0px 10px;
    font-size: 13px;
    font-weight: 600;
}

.mobile_cariculum_box_detail {
    width: 215px;
    margin: -5px auto;
    background-color: white;
    font-weight: 600;
    font-size: 14px;
    padding: 10px;
}

.special_border_styling {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.upper_image_border {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.down_image_border {

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cariculam_dot_grid {
    width: 100%;
    margin: 40px 0;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 35px;

    position: relative;
}


.dot_line_container {
    width: 100%;
    position: absolute;
    top: 20px;
    left: 0;

    display: flex;
    justify-content: center;
}

.dot_line {
    width: 80%;
    height: 2px;
    background-color: rgb(222, 221, 221);
    z-index: 5;
}

.dot_box_container {
    width: 100%;
    text-align: center;
}

.dot_box {
    width: 40px;
    margin: 0 auto;
    height: 40px;
    border-radius: 50%;
    z-index: 6;
    position: relative;
}

.dot_1 {
    background-color: #FED3DD !important;
}

.dot_2 {
    background-color: #FFACBF !important;
}

.dot_3 {
    background-color: #FD90AA !important;
}

.dot_4 {
    background-color: #F35278 !important;
}

.dot_5 {
    background-color: #E32652 !important;
}












.skills_grid_container {
    width: 1240px;
    max-width: 100%;

    margin: 0px auto;
    padding: 60px 20px;
}

.skills_grid_heading {
    width: 100%;
    font-family: bebas;
    font-size: 45px;
    text-align: center;
    letter-spacing: 2px;

    color: rgba(0, 0, 0, 0.87);
}

.skills_grid_byline {
    text-align: center;
    padding: 10px 0 50px 0;
    font-size: 16px;
    color: #222222;
}

.skils_grid {
    width: 100%;

    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 30px;
}

.skills_heading {
    font-weight: bolder;
    font-size: 20px;
    margin: 10px 0;
    color: black;
    padding: 0 0 10px 0;
    margin: 0 0 15px 0;
    letter-spacing: 2px;
    border-bottom: 1px solid rgb(128, 128, 128, 0.5);
}

.skills_list p {
    display: flex;
    margin: 0 0 10px 0;
    font-size: 16px;
    color: #222222;
}

.skills_list svg {
    width: 20px !important;
    margin: 5px 10px 0 0;
}










.course_curriculum {
    width: 1240px;
    max-width: 100%;

    margin: -80px auto 0px auto;
    padding: 120px 20px 60px 20px;
}

.course_curriculum_heading {
    width: 100%;
    font-family: bebas;
    font-size: 45px;
    text-align: center;
    letter-spacing: 2px;

    color: rgba(0, 0, 0, 0.87);
}

.course_curriculum_byline {
    text-align: center;
    padding: 10px 0 20px 0;
    font-size: 16px;
    color: #222222;
}

.course_curriculum_image {
    width: 100%;
    text-align: center;
}

g .course_curriculum_image img {
    width: max-content;
}

.course_curriculum_container {
    width: 100%;
    margin: 30px 0 0 0;
    padding: 0 0 10px 0;
    background: #FFFFFF;
    box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    overflow: hidden;
}

.course_accordion {
    width: 100%;
}


.activities_list_container {
    width: 100%;

    padding: 15px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activity_heading {

    font-weight: 400;
    font-size: 20px;

    color: rgba(0, 0, 0, 0.87);

}

.activity_list {
    width: 500px;

    display: flex;
    justify-content: space-between;
    position: relative;

}

.list_middle_line {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.3);

}

.activity_list_number {
    width: 40px !important;
    height: 40px !important;
    position: relative;
    background: #596170;
    border-radius: 50%;
    color: white;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 400;
    font-size: 14px;

}





.activity_trigger {
    width: 100%;
    padding: 0px 30px;
    cursor: pointer;
    display: flex;
    background-color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}


.activity_trigger_nummber {
    width: 40px !important;
    height: 40px !important;
    background: #596170;
    border-radius: 50%;
    color: white;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 400;
    font-size: 14px;
    position: relative;
    z-index: 1;
    margin: 20px 0;
}

.activity_trigger_text {
    width: 100%;
    position: relative;
    left: -20px;
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    padding: 25px 0 20px 40px;
}


.activity_trigger_text_heading {
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    margin: 0 0 10px 0;
}

.activity_trigger .activity_trigger_text_heading:after {

    content: "";
    width: 15px;
    height: 13px;
    background: url("https://i.postimg.cc/02FbdNnj/arrow.png") no-repeat;

    position: absolute;
    right: 0;
    top: 35px;

    transition: all 0.3s ease-in-out;
}

.activity_box.active .activity_trigger_text_heading:after {
    transition: all 0.3s ease-in-out;
    transform: rotate(180deg);
}

.activity_trigger_text_para {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #222222;
}

.activity_inner_grid {
    width: 100%;
    padding: 30px 150px;
    background-color: #F8F8F8;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.activity_grid_box {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.activity_grid_box img {
    width: 100%;
}

.activity_grid_box_detail {
    width: 100%;
    height: 105px;
    margin: -5px 0 0 0;
    padding: 20px;
    background-color: white;
}

.activity_grid_box_byline {
    font-weight: 400;
    font-size: 16px;
    font-weight: 600;
    color: #222222;
}

.activity_grid_box_time {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    color: rgba(0, 0, 0, 0.5);
}













.certificate__wrapper {
    width: 1240px;
    padding: 60px 20px;
    max-width: 100%;

    margin: 0 auto;
}

.certificate_details_heading {
    width: 800px;
    max-width: 100%;
    margin: 0 auto 30px auto;
    font-family: bebas;
    font-size: 45px;
    text-align: center;
    letter-spacing: 2px;

    color: rgba(0, 0, 0, 0.87);
}

.certificate_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.certificate_image_container {
    width: 50%;
}

.certificate_image {
    width: 100%;
}

.certificate_image img {
    width: 100%;
    border-radius: 10px;
}

.certificate_button {
    width: 100%;
    margin: 20px 0 0 0;
}

.certificate_bottom_text {
    width: 100%;
    text-align: center;
    margin: 20px 0 0 0;
    font-weight: 400;
    font-size: 16px;
    /* or 150% */

    text-align: justify;

    color: #222222;

}

.certificate_button button {
    width: max-content;
    color: rgba(255, 255, 255, 0.87);
    border: 0;
    padding: 10px 50px;
    font-weight: 600;
    text-decoration: none;
    font-size: 16px;
    background: #E32652;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}


.certificate_list {
    width: 100%;
}

.certificate_list p {
    display: flex;
    margin: 0 0 10px 0;
    font-size: 16px;
    color: #222222;
}

.certificate_list svg {
    width: 20px !important;
    margin: 5px 10px 0 0;
}








.course_testimonial_wrapper {
    width: 1240px;
    margin: 0 auto;
    padding: 60px 20px;
    max-width: 100%;
    text-align: center;
}

.course_testimonial_heading {
    width: 100%;
    font-family: bebas;
    font-size: 45px;
    text-align: center;
    letter-spacing: 2px;
    margin: 0 0 30px 0;
    color: rgba(0, 0, 0, 0.87);
}

.course_testimonial_list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.testimonial_Arrows {
    width: max-content;
    padding: 10px 15px 8px 15px;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
}

.testimonials_box_container {
    width: 100%;
    margin: 0px 10px;
}



.mobile_course_testimonial_list {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: none;
}



.course_testi_box {
    height: 100%;
    min-height: 300px;
    background-color: white;
    padding: 20px;
    margin: 0 10px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;

    font-size: 16px;
    color: #222222;
    line-height: normal;
}

.testi_box_Person_name {
    width: max-content;
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

.testi_box_Person_name img {
    width: 60px;
    border-radius: 50%;
    margin: 0 0 5px 0;
    border: 1px solid #DF2B54;
}

.testi_box_Person_name span {
    font-size: 20px !important;
}

.social_Slides {
    width: 100%;
}

.social_dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 1s ease;
}

.active,
.social_dot:hover {
    background-color: black;
}

.social_Two_dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 1s ease;
}

.active,
.social_Two_dot:hover {
    background-color: black;
}


.testimonial_dots_container {
    width: 100%;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 1s ease;
}

.active,
.dot:hover {
    background-color: black;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.three_grid {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}














.ready_to_Get_started_wrapper {
    width: 100%;
    background-color: #E32652;
    margin: 80px 0 60px 0;
    padding: 80px;
}

.readyto_get_started_container {
    width: 1200px;
    max-width: 100%;
    text-align: center;
}

.readyto_get_started_heading {
    font-family: bebas;
    font-size: 45px;
    text-align: center;
    color: rgba(255, 255, 255, 0.87);
}

.readyto_get_started_byline {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    padding: 25px 0 30px 0;
}

.readyto_get_started_button {
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.readyto_get_started_button a {
    background-color: white;
    border: 0;
    padding: 7px 40px;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    color: #E32652;
    text-decoration: none;
}











.faq_container {
    width: 1240px;
    max-width: 100%;
    margin: 0 auto;
    padding: 60px 20px;
}

.faq_heading {
    width: 100%;
    font-family: bebas;
    font-size: 50px;
    text-align: center;
    letter-spacing: 2px;
    margin: 0 0 30px 0;
    color: rgba(0, 0, 0, 0.87);
}

.faq_wrapper {
    width: 1240px;
    max-width: 100%;
    margin: 30px auto;
    padding: 0px 20px;
}





.faq_box {
    width: 100%;
    height: auto;
    background-color: #FFF;
    padding: 20px;
    margin: 0 auto 15px auto;

    border-radius: 10px;

    border: 1px solid rgba(0, 0, 0, 0.08);
}





.faq_box h3 {
    font-weight: 700;
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    padding: 0 0 0 0;
    margin: 0;
    font-size: 16px;
    letter-spacing: 0.01em;
    cursor: pointer;
    color: #222222;
}

.faq_box h3 span {
    padding: 0 25px 0 0;
}

.faq_box h3:after {
    content: "+";
    font-family: "material-design-iconic-font";
    position: absolute;
    right: 0;
    top: -4px;
    color: rgba(36, 34, 34, 0.87);
    padding: 0px 5px;
    background-color: white;
    transition: all 0.3s ease-in-out;
    font-size: 25px;
}

.faq_box.active h3:after {
    transform: rotate(45deg);
}













.answer {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.answer p {
    position: relative;
    display: block;
    padding: 10px 0 0 0;
    font-size: 14px !important;
    color: #222222;
}


span {
    display: block;
    padding: 10px 0 0 0;
    font-size: 16px !important;
}


span a {
    text-decoration: none;
}

span a:hover {
    text-decoration: none;
}