.thanku_text {
    width: 1600px;
    max-width: 100%;
    height: 300px;
    margin: 70px 0 50px 0;
    padding: 0px 20px;
    background-color: #E32652;
    text-transform: uppercase;
    font-family: bebas;
    font-size: 7vw;
    text-align: center;
    letter-spacing: 5px;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}



.tankhu_detail {
    width: 1240px;
    max-width: 100%;
    margin: 0 auto 50px auto;
    padding: 0px 20px;
}

.tankhu_detail p {
    padding: 15px 0;
    font-size: 16px;
    color: #222222;
}

.tankhu_detail ul {
    margin: 0 0 0 18px;
}

.tankhu_detail ul li {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
}





@media screen and (max-width: 700px) {
    .thanku_text {
        font-size: 35px;
    }

    .tankhu_detail p {
        font-size: 14px !important;
    }


    .tankhu_detail ul li {
        width: 100%;
        padding: 5px 0;
        font-size: 14px;
    }
}